body {
    /* border: 2px solid yellow; */
    margin: 0;
    padding: 20px;
    height: 93vh;
    font-family: "Segoe UI", Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    background: linear-gradient(135deg, #f5f7ff, #eef2ff);
}

.container {
    margin: 10px auto;
    margin-bottom: 20px;
    /* border: 2px solid yellow; */
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap:20px;
    /* padding: 10px; */
    box-sizing: border-box;
}

.header {
    text-align: left;
    margin-bottom: 10px;
}

.header h2{
    margin: 0px;
    color: #1f2937;
    font-size: 25px;
    font-weight: 600;
}

.actions
{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}


.actions button {
    width: 100%;
    background: linear-gradient(135deg, #6366f1, #4f46e5);
    border: none;
    color: white;
    padding: 8px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(79, 70, 229, 0.3);
}


.actions button:hover {
    opacity: 0.9;
}

.notes {
    margin-top: 14px;
}

.notes h3 {
    margin-bottom: 4px 0;
    font-size: 18px;
    color: #374151;
    text-align: left;
}

.notes textarea {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    outline: none;
    resize: vertical;
    border-radius: 6px;
    font-size: 14px;
    background: white;
    box-shadow: inset 0 0 0 2px #d7d8db;
}

.notes textarea:focus
{
    border: 1px solid rgb(117, 116, 116);
}

.notes button {
    margin-top: 8px;
    width: 100%;
    background: #10b981;
    border: none;
    color: white;
    padding: 8px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
}

.notes button:hover {
    opacity: 0.9;
}

#results {
    margin: 18px 0;
    padding: 10px;
    font-size: 14px;
    background: #f8f9fa;
    border-radius: 6px;
    min-height: 100px;
    color: #1f2937;
    line-height: 1.4;
    text-align: justify;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.result-item{
    background-color: white;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.result-content{
    margin-bottom: 10px;
    line-height: 1.5;
}